* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.about{
    display: flex;
    max-width: 1340px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 78px;
    box-sizing: border-box;
    width: 1440px;
    height: 516px;
    left: 0px;
    top: 1231px;
    background: #FFFFFF;
    border: 1px solid #D9D6D3;
}
.about__box{
    display: flex;
    padding: 10px;

}
.about__title2{
    padding-left: 200px;
}
.about__box2{
    width: 540px;
    height: 239px;
    left: 98px;
    top: 1361px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #6A6A6A;
}
.about__text{
    width: 540px;
    height: 239px;
    left: 98px;
    top: 1361px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #6A6A6A;
}
.about2{
    display: flex;
}
.about__box3{
    text-align: center;
    width: 255px;
    height: 48px;
    left: 98px;
    top: 1621px;
    background: #DFC900;
    border-radius: 3px;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}
.about__box4{
    text-align: center;
    margin-left: 30px;
    width: 255px;
    height: 48px;
    left: 383px;
    top: 1621px;
    background: #DFC900;
    border-radius: 3px;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}
.about__title3{ 
    width: 53px;
    height: 26px;
    left: 199px;
    top: 1632px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #050505;
    text-decoration: none;
}
.about__title4{
    width: 53px;
    height: 26px;
    left: 199px;
    top: 1632px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #050505;
    text-decoration: none;
}

  
